---
layout: default
title: Tags
---

<div class="tags-page">
  <h1>Tags</h1>
  
  <!-- 标签云 -->
  <div class="tag-cloud">
    {% for tag in site.tags %}
      <a href="#{{ tag[0] | slugify }}" class="tag-link">
        {{ tag[0] }} ({{ tag[1].size }})
      </a>
    {% endfor %}
  </div>
  
  <!-- 按标签分组的文章 -->
  {% for tag in site.tags %}
    <div id="{{ tag[0] | slugify }}" class="tag-section">
      <h2>{{ tag[0] }}</h2>
      <ul class="tag-posts">
        {% for post in tag[1] %}
          <li>
            <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
            <span class="post-meta">{{ post.date | date_to_string }}</span>
          </li>
        {% endfor %}
      </ul>
    </div>
  {% endfor %}
</div>
